button:focus {
  outline: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: #ffffff;
}

ul li{
  cursor: pointer;
}

.section {
  overflow-y: scroll;
}

.list-group-item{
  background: rgb(0, 121, 107);
  color: #fff;
  transition: all .25s;
  border: none !important;
}

.list-group-item.active {
  background: #fff;
  color: rgb(0, 121, 107);
}

.list-group-item:hover a{
  animation-name: example;
  animation-duration: 4s;
  color: rgb(0, 121, 107);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:50px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:50px; top:0px;}
}

.floatActionButton{
  background: #fc0000;
  color: #ffffff;
  width: 121px;
  padding: 38px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 30px;
  transition: all .25s;
  transform: scale(0.7);
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 2;
}

.floatActionButton:hover {
  transform: scale(0.8);
  box-shadow: 7px 7px 10px #999;
}
